<html lang="ko">
<head>
  <title>Hongdonghyuns blog</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/post_list.css">
</head>
<body>
  <div>
    <h1><a href='#'>홍동현 첫 블로그</a></h1>
    <h3>{{ title }}</h3> <!-- html에서 변수를 사용한다 -->
    <div>{% for post in posts %}<h1>{{ post.title }}</h1> <p>{{post.text}}</p><p>{{post.created_date}}</p><p>{{post.published_date}}</p>
         {% endfor %}
    </div>

    <div>

    </div>

  </div>

  <div>
    <p>유튜브 스트리밍</p>     <!-- embed뒤가 스트리밍 주소임 url젤 뒤에꺼를 붙여넣-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kw8tGxmtJ88" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class ='inline_div'>
    <p>트위치 스트리밍</p>    <!-- channerl뒤가 스트리밍 주소임 url젤 뒤에꺼 붙여넣기-->
    <iframe src="https://player.twitch.tv/?channel=nicegametv" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe><a href="https://www.twitch.tv/nicegametv?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:inline; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
  </div>
  <div class = "inline_div,float_right">
    <p>트위치 채팅방</p> <!-- www.twitch.tv뒤에 url 젤뒤에꺼 그 후 /chat? 들어가야-->
    <iframe src="https://www.twitch.tv/nicegametv/chat?popout=" frameborder="0" scrolling="no" height="500" width="350"></iframe>
  </div>
<div>
  <p>아프리카 스트리밍</p>
  <iframe src="http://play.afreecatv.com/horidda/192610983/embed" width="540" height="340" frameborder="0" allowfullscreen></iframe>

</div>

</body>
</html>
